# We need to shamefully hoist in order to implement the sewing-kit-from-source
# script. That script runs sewing-kit while aliasing to the source files for
# any `@quilt` package. This inlines them into a bunch of different places,
# but their dependencies are not inlined (they remain actual `import` statements).
# Without hoisting, those dependencies will fail to resolve at runtime.
shamefully-hoist=true
