name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v1
      - uses: ./.github/workflows/actions/prepare.yml
      - uses: quilt-framework/action-build@v2
        with:
          command: pnpm build
          arguments: --only-project package:*
      - name: Deploy
        run: pnpm deploy
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
