name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        name: Checkout

      - uses: actions/setup-node@v1
        name: Setup node.js and yarn
        with:
          node-version: 12.14.0

      - name: Get yarn cache directory
        id: yarn-cache-get-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        id: yarn-cache
        name: Restore yarn cache
        with:
          path: ${{ steps.yarn-cache-get-dir.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Yarn install
        run: yarn install --frozen-lockfile

      - uses: actions/cache@v1
        id: typescript-cache
        name: Restore TypeScript cache
        with:
          path: .sewing-kit/cache/typescript/
          key: ${{ runner.os }}-typescript-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-typescript-

      - name: Build
        run: yarn build

      - name: Deploy
        run: yarn deploy
