name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: quilt-framework/action-prepare@v1

      - uses: quilt-framework/action-build@v2
        with:
          command: yarn build
          arguments: --skip-project app:*

      - name: Deploy
        run: yarn deploy
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
